body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

.dashboard-container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.logout-btn {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #e53935;
}