<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugă Notă</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Adaugă Notă Nouă</h1>

        <div class="form-container">
            <form action="{{ url_for('add_grade') }}" method="POST" enctype="multipart/form-data">
                <select name="student_id" required>
                    <option value="">Selectează Elev</option>
                    {% for student in students %}
                        <option value="{{ student['id'] }}">{{ student['name'] }}</option>
                    {% endfor %}
                </select>
                
                <input type="number" name="grade" step="0.01" min="1" max="10" placeholder="Notă" required>
                
                <!-- Change the input type to text to receive the file path -->
                <input type="text" name="pdf_path" placeholder="Calea către PDF" required>
                
                <button type="submit">Adaugă Notă</button>
            </form>
        </div>

        <a href="{{ url_for('dashboard') }}" class="back-button">Înapoi la Lista Elevilor</a>
    </div>
</body>
</html>